{% extends 'base.html' %} 
{% block body %}
{% if books %}
<div class="row row-cols-1 row-cols-md-4 g-4 mt-5">
  {% for book in books %}
  <div class="col">
    <div class="card">
      <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}" />
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.genre }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<h4 class="mt-5">Don't find anything what you have search, please try again or go to <a href="{% url 'home' %}">Home Page</a></h4>
{% endif %}
{% endblock body %}
